@import '../bootstrap/_colors';

.TabInterface {
    .TabButtons {
        margin: 15px 0 15px;
    }
    .TabButton {
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 0.9rem;
        font-weight: 500;
        a {
            cursor: pointer;
            display: block;
            padding: 10px 15px;
            width: 100%;
            i {
                margin-right: 0.5rem;
            }
            &:hover {
                font-weight: 500;
                color: $brand-color-gold;
            }
        }
    }
    .TabButton.active {
        a {
            font-weight: 700;
        }
    }
    .TabButton:first-child {
        margin-left: -15px;
    }
}

.Secondary {
    .TabInterface {
        .TabButtons {
            margin: 0 -15px 0 -45px;
            padding-left: 45px;
            padding-right: 15px;
            border: solid 1px $brand-color-blue;
            border-left: 0;
            border-right: 0;
        }
        .TabButton {
            a {
                padding: 5px 15px 3px;
            }
        }
    }
    .Tab {
        margin-top: 30px;
    }
}