.ps-AbstractPlot {
  .y-axis-label {
    font-size: 0.9rem;
  }
  .y-axis .tick text {
    font-size: 0.8rem;
  }
  .x-axis .tick text {
    font-size: 0.8rem;
  }
  .dataLabel {
    font-size: 0.8rem;
  }
  .xLineLabel {
    font-size: 0.9rem;
  }
}

button.SavePNG {
  margin-top: 15px;
}

.bulletBarLabel {
  display: none;
}

.FlowReport {
  .x-axis {
    path.domain {
      display: none;
    }
    .tick line {
      display: none;
    }
  }
  button {
    margin-bottom: 30px;
  }
}