@import '../common';

.Legend,
.FilterNotes {
    background-color: $gray-100;
    h1 {
        font-size: 0.8rem;
        text-transform: uppercase;
    }
    padding: 1rem;
    font-size: 0.9rem;
    table {
        td {
            padding: 5px;
            .swatch {
                line-height: 1.8rem;
                font-size: 1.8rem;
                padding-top: 5px;
            }
            vertical-align: middle;
        }
    }
    .Notes {
        margin-top: 8px;
        font-size: 0.8rem;
        line-height: 120%;
        color: $brand-color-dark-grey;
    }
}

.FilterNotes {
    margin-top: 15px;
    p {
        margin-bottom: 8px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}