@import "../common";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500 !important;
}

.App {
  .LeftColumn {
    min-height: 100vh;
    background-color: $brand-color-blue;
  }
}

h2 {
  color: $brand-color-dark-grey !important;
  margin-bottom: 1rem !important;
}

.alert.alert-warning {
  background-color: lighten($brand-color-gold, 30%);
  color: darken($brand-color-gold, 20%);
  padding: 1rem;
  h2 {
    font-size: 1.3rem;
    color: darken($brand-color-gold, 20%) !important;
  }
  p {
    margin-bottom: 0;
  }
}

@media print {
  @page {
    margin: 0.5cm;
  }

  .TabButtons {
    display: none !important;
  }
  .LeftColumn {
    display: none !important;
  }
  .MainWrapper {
    max-width: 100% !important;
    flex: 0 0 100% !important;
    width: 100% !important;
    button {
      display: none;
    }
  }
  tr:hover {
    td {
      font-weight: normal !important;
    }
  }
}
