@import '../bootstrap/_colors';

.Header {
    background-color: $brand-color-blue;
    color: $white;
    height: 102px;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        color: $white;
        &:hover {
            color: $brand-color-gold;
        }
        h1 {
            margin-bottom: 0;
            font-size: 1.5rem;
        }
    }
}