@import '../bootstrap/_colors';

.Header {
    background-color: $brand-color-blue;
    color: $white;
    height: 102px;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
        margin-bottom: 0;
        font-size: 1.5rem;
    }
}