$enable-rounded: false;

@import '~@bcgov/bootstrap-v5-theme/scss/bootstrap-theme.scss';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

$brand-color-blue: #234075;
$brand-color-gold: #e6b345;
$brand-color-teal: #70ccdb;
$brand-color-fog: #d2e2ee;
$brand-color-dark-grey: #6c757d;