@import './common';

body,
html {
  min-height: 100%;
  color: $brand-color-blue;
}

a {
  text-decoration: none !important;
}

p {
  font-weight: 400;
  margin: 20px 0;
  a {
    color: $brand-color-gold;
  }
}

a {
  &:hover,
  &:active,
  &:focus {
    color: darken($brand-color-gold, 10%) !important;
  }
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

button i,
.btn i {
  margin-right: 10px;
}
