@import 'bootstrap/_colors';

body, html {
  min-height: 100%;
  color: $brand-color-blue;
}

a {
  text-decoration: none !important;
}

p.lead {
  font-weight: 400;
  margin: 20px 0;
  a {
    color: $brand-color-gold;
    &:hover {
      color: darken($brand-color-gold, 10%);
    }
  }
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

button i {
  margin-right: 10px;
}